<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css?v=<?php echo time(); ?>"/>
    <title>JUKEBOX</title>
</head>
<body>

<br/>

<div class="page">
    <div id="insidePage">
        <div id="header">
            Jukebox Web App!
        </div>

        <div id="login">
            <input type="button" value="Logowanie" class="btn btn- btn-success form-control"
                   onclick="window.location.href='login.html'">
        </div>

        <div id="scheduledTracksSign">
            Scheduled Tracks
        </div>
        <div id="scheduledTracksList">
            <table>
                <thead>
                <tr>
                    <th> Artist</th>
                    <th> Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${queue.isEmpty()}">
                    <td colspan="2"> No tracks Available</td>
                </tr>
                <tr th:each="track : ${queue}">
                    <td><span th:text="${track.getTrackId()}"> Id </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>